/**
*  CATAMARAN
* ==================================================
*/
/* catamaran-800 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/catamaran/catamaran-v17-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/catamaran/catamaran-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/catamaran/catamaran-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/catamaran/catamaran-v17-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/catamaran/catamaran-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/catamaran/catamaran-v17-latin-800.svg#Catamaran') format('svg'); /* Legacy iOS */
}


/**
* MAVEN PRO
* ==================================================
*/
/* maven-pro-regular - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/maven/maven-pro-v32-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/maven/maven-pro-v32-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/maven/maven-pro-v32-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/maven/maven-pro-v32-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/maven/maven-pro-v32-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/maven/maven-pro-v32-latin-regular.svg#MavenPro') format('svg'); /* Legacy iOS */
}
/* maven-pro-500 - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/maven/maven-pro-v32-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/maven/maven-pro-v32-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/maven/maven-pro-v32-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/maven/maven-pro-v32-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/maven/maven-pro-v32-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/maven/maven-pro-v32-latin-500.svg#MavenPro') format('svg'); /* Legacy iOS */
}
/* maven-pro-700 - latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/maven/maven-pro-v32-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/maven/maven-pro-v32-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/maven/maven-pro-v32-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/maven/maven-pro-v32-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/maven/maven-pro-v32-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/maven/maven-pro-v32-latin-700.svg#MavenPro') format('svg'); /* Legacy iOS */
}

/**
* Barlow
* ==================================================
*/
/* barlow-semi-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/barlow/barlow-semi-condensed-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-regular.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/barlow/barlow-semi-condensed-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/barlow/barlow-semi-condensed-v14-latin-600.svg#BarlowSemiCondensed') format('svg'); /* Legacy iOS */
}