@use "sass:color";
@import '../mixins/theme.scss';

:root {
  /**
   * Palette
   * ==================================================
   */
  // Grayscale
  --black: #0a0a0c;
  --gray-10: #17171c;
  --gray-15: #23242C;
  --gray-20: #2d2e39;
  --gray-30: #434556;
  --gray-35: #515761;
  --gray-40: #5f646d;
  --gray-50: #747b8b;
  --gray-60: #969BA6;
  --gray-70: #b3b6bd;
  --gray-80: #C6CBD2;
  --gray-90: #E7EAEE;
  --gray-95: #F3F6FA;
  --gray-98: #f7f8fd;
  --white: #FFFFFF;

  // Error
  --red: #fe0033;
  @include dark {
    --red: #ff3961;
  }

  /**
  * Primary / secondary
  * ==================================================
  */
  --primary: var(--gray-15);
  --primary-reversed: var(--gray-90);
  --primary-light: var(--gray-15);
  @include dark {
    --primary: var(--gray-95);
    --primary-reversed: var(--gray-15);
    --primary-light: var(--gray-95);
  }
  
  /**
   * Text
   * ==================================================
   */
  --text-color: var(--primary);
  --text-color-reversed: var(--primary-reversed);
  --link-color: var(--primary-light);
  --link-color-hover: var(--primary-light);
  


  /**
  * Ui (misc)
  * ==================================================
  */
  --bg-color: var(--gray-95);
  --card-bg: var(--white);
  --border-color: var(--gray-90);
  --border-color-secondary: var(--gray-80);
   
  @include dark {
    --bg-color: var(--gray-10);
    --card-bg: var(--gray-15);
    --border-color: var(--gray-20);
    --border-color-secondary: var(--gray-30); 
  }

}